<div class="row">
    <br />
    <br />
    <br />

    <p>
        The Atlas of Seabirds at Sea (AS@S), pronounced "ay-sass", was launched on 16 October 2009, as part of the "Save Our Seabirds Festival" by BirdLife South Africa's Seabird Conservation Programme.
    </p>
    <p>
        AS@S is a collaboration between BirdLife South Africa and the South African Environmental Observation Network (SAEON). It was created in collaboration with a number of seabirds-at-sea experts, and was initially developed and hosted by the Animal Demography Unit at the University of Cape Town. In 2012 it moved to SAEON, and is strongly supported by the South African Department of Environmental Affairs – Branch Oceans and Coasts, which makes significant vessel time available to seabird observers. AS@S uses ‘citizen scientists’ to collect seabird distribution and abundance data from any vessel, by anybody willing and able to contribute.
    </p>
    <p>
        The data are collected according to a standard protocol and uploaded via this website to be immediately incorporated into the AS@S database. The database is open-access and is fast becoming a valuable resource for understanding the abundance, seasonality and distribution of seabirds at sea, and for examining how these have changed through recent decades.
    </p>
    <p>
        Several conservation applications of the AS@S data are envisaged, such as aiding in defining 'ocean hotspots', where seabirds congregate in relative abundance and with some degree of consistency or in identifying important areas for highly threatened species. Such areas would be important for the formation of marine Important Bird Areas for BirdLife International, or other protected areas in the form of Marine Protected Areas, special nature reserves on the high seas, or no no-take zones for commercial fishing for the protection of sensitive species. Originally launched with the oceans west, south and east of South Africa as target areas, the database is designed to include data from any part of the earth’s oceans.
    </p>
    <p>
        To date, 63 observers on 84 cruises have completed 15337 data transects.  A total of 89152 birds have been recorded on the AS@S database.
    </p>
    <p>
        For further information, queries or assistance please contact Taryn Morris at BirdLife South Africa (taryn.morris@birdlife.org.za)
    </p>
</div>
